<input #emailInput type="email" placeholder="Email"><br><br>
<input #pass1Input type="password" placeholder="Password"><br><br>
<input #pass2Input type="password" placeholder="Confirm Password"><br><br>
<button (click)="registerForm(emailInput.value, pass1Input.value, pass2Input.value)">Register</button><br>
<a routerLink="/">Back</a>

<p *ngIf="successfulReg" style="color: green;">Registration Successful!</p>
<p *ngIf="!successfulReg && password1 !== password2" style="color: red;">
  Passwords do not match.
</p>
