<button class="back-button" routerLink="/">&lt;</button>

<form>
  <input #emailInput type="email" placeholder="Email Address" />
  <input #passInput type="password" placeholder="Password" />
</form>

<button class="ui-button" (click)="loginForm(emailInput.value, passInput.value)">Login</button><br>

<!-- SUCCESS MESSAGE -->
<p *ngIf="submitted && successfulLog" style="color: green;">
  Login Successful!
</p>

<!-- ERROR MESSAGE -->
<p *ngIf="submitted && !successfulLog" style="color: red;">
  Email or password is incorrect.
</p>
