button {
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    border: 0px;
    transition-duration: 0.35s;
    padding: 10px 20px;
    
}
button:hover {
    transition-duration: 0.35s;
    background-color: rgb(91, 133, 91);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    //padding: 4px 10px; 
  }
input {
    margin:  0;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 0px;
    box-shadow: 0 0 10px rgba($color: #8f8f8f, $alpha: 0.5);
    padding: 4px 8px;
    color: white;

}
input {
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
  color: black;
}

input:hover,
input:focus {
  background-color: rgb(91, 133, 91);
  box-shadow: 0 5px #bababa;
}

input:hover::placeholder,
input:focus::placeholder {
  color: white;
}


form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: fit-content;

}
form input {
    margin: 10px;
}
